@model SitefinityToolbox.HttpStatusSwitcher.Mvc.Models.IHttpStatusModel

<div>
    <p>
        This page will now return a HTTP status code of @((int)Model.HttpStatusCode) - @Model.StatusDescription
    </p>
</div>