<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
                    <serviceDebug includeExceptionDetailInFaults="false"/>
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service name="SitefinityToolbox.AnchorTag.Services.wefnew">
                <endpoint address="" binding="basicHttpBinding" contract="SitefinityToolbox.AnchorTag.Services.Iwefnew">
                    <identity>
                        <dns value="localhost"/>
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/Design_Time_Addresses/SitefinityToolbox.AnchorTag.Services/wefnew/"/>
                    </baseAddresses>
                </host>
            </service>
            <service name="SitefinityToolbox.AnchorTag.Services.AnchorTagService">
                <endpoint address="" binding="basicHttpBinding" contract="SitefinityToolbox.AnchorTag.Services.IAnchorTagService">
                    <identity>
                        <dns value="localhost"/>
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/Design_Time_Addresses/SitefinityToolbox.AnchorTag.Services/AnchorTagService/"/>
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
